/* CADASTRO */
.cadastro{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}
.cadastro h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cadastro input{
    width: 100%;
}
.cadastro input[type="submit"] {
    width: auto;
    cursor: pointer;
}
.cadastro .celular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cadastro .form-cadastro{
    width: 325px;
}
.cadastro .ddd{
    width: 50px;
}
.cadastro .tel{
    width: 250px;
}
.botoes-cadastro {
    height: 36px;
    margin: 30px 0;
}
.botoes-cadastro button{
    margin-right: 3px;
}
/* MEDIA QUERIES */
@media( max-width: 330px){
    .cadastro .form-cadastro{
        width: 310px;
        padding: 20px;
        margin-top: 30px;
    }
    .cadastro .tel{
        width: 200px;
    }
}