/* CONTEÚDO */
.divCarrinho {
    height: 100%;
    padding-top: 25px;
}
.divCarrinho input {
    width: 55px;
    margin-left: 10px;
    text-align: center;
    padding: 0px;
    font-size: 16px;
    height: 20px;
}
.divCarrinho h1 {
    font-size: 16px;
}
.divCarrinho h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0;
    max-height: 27px;
    overflow: auto;
}
.divCarrinho img {
    max-width: 100%;
    margin: 10px 0;
    height: 100px;
    width: 100px;
}
.divCarrinho .tabela tbody tr:hover {
    background: #fff;
    cursor: auto;
}
.infoItem {
    display:inline-block;
    position: absolute;
    bottom: 30px;
    margin-left: 10px;
    max-height: 100px;
    height: 75px;
}
.divRegistrarPedido {
    width: 740px;
    margin: 0 auto;
}

/* BOTÕES */
.btnRemover {
    background: transparent;
    padding: 3px;
    border-radius: 5px;
}
.btnRemover i:hover {
    color: red;
}
.btnRegistrar {
    margin-bottom: 10px;
}
.botoesRegistra {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
}
.botoesRegistra button {
    margin-right: 5px;
}

/* TABELA */
.tabela {
    width: 740px;
}
.tabela i {
    margin-top: 0;
}

/* MEDIA QUERIES */
@media (max-width: 760px) {
    .tabela, .divRegistrarPedido {
        width: 660px;
    }
}
@media (max-width: 670px) {
    .tabela {
        margin: 20px auto;
        display: block;
        width: 300px;
        overflow: auto;
    }
    #totalCarrinho {
        width: 300px;
    }
    .divRegistrarPedido {
        margin: 0 auto;
        width: 300px;
    }
    .divCarrinho img {
        display: none;
    }
    .infoItem {
        position: static;
    }
}