/* RESET */
*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.img{
    width: 100%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
ul, li {
    list-style: none;
}

/* BOTÕES */
.btn {
    min-width: 64px;
    height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
}
.btn-text {
    padding: 0 8px;
    background: transparent;
    color: #00857B;
}
.btn-outlined {
    padding: 0 16px;
    background: transparent;
    border: 1px solid #a5a5a5;
    color: #00857B;
}
.btn-text:hover, .btn-outlined:hover {
    background: rgba(0,0,0,0.04);
}
.btn-text:focus, .btn-outlined:focus {
    background: rgba(0,0,0,0.12);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
.btn-contained {
    padding: 0 16px;
    background: #00857B;
    color: #fff;
}
.btn-contained:hover {
    background: rgb(0, 151, 139);
}
.btn-contained:focus {
    background: rgb(0, 175, 161);
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

/* INPUT */
.input-padrao {
    background: transparent;
    border: none;
    color: #707070;
    border-bottom: solid 1px #707070;
    font-size: 18px;
}
.input-padrao:focus {
    border-bottom: 2px solid #52d0c6;
}

/* MODAL */
.background-modal {
    display: none;
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.container-modal {
    background: #fff;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
}
.container-modal-erro {
    text-align: center;
}
.container-modal h1 {
    font-size: 24px;
    font-weight: 400;
}
.container-modal h2 {
    font-size: 20px;
    font-weight: 500;
}
.container-modal button {
    margin-top: 10px;
}
.container-modal-btn-direita {
    float: right;
}

/* NOTIFICAÇÕES */
.notificacoes {
    width: auto;
    display: block;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 3;
    transform: translateY(100px);
    animation: mostraNotificacao 5s;
}
@keyframes mostraNotificacao {
    0% {transform: translateY(100px);}
    25% {transform: translateY(0);}
    75% {transform: translateY(0);}
    100% {transform: translateY(100px)};
}

/* LOADER */
.loop{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 200px;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ICONES */
.md-30 {
    font-size: 30px
}
.md-36 { 
    font-size: 36px; 
}

/* CLASSES GERAIS */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo {
    display: flex;
    justify-content: center;
}
.alinha-espacado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alinha-final {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aviso {
    color: red;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pointer {
    cursor: pointer;
}

/* TABELA */
.tabela {
    max-width: 800px;
    border-radius: 5px;
    border-spacing: 0;
    margin: 20px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: #fff;
}
.tabela thead {
    padding-bottom: 3px;
}
.tabela th {
    width: 100px;
    text-align: left;
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    padding-bottom: 8px;
    box-sizing: border-box;
    padding: 0 18px 12px 18px;
}
.tabela tr {
    position: relative;
    height: 48px;
}
.tabela td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 12px 18px;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: normal;
}
.tabela td:first-of-type, .tabela th:first-of-type {
    padding-left: 24px;
    width: 300px;
}
.tabela tbody tr:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}
.tabela i {
    margin-top: 10px;
}

/* CABEÇALHO */
.cabecalho {
    padding: 10px;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to bottom,#52d0c6 , #00a597);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 2;
}
.cabecalho h3 {
    font-weight: 300;
    font-size: 15px;
    max-width: 305px;
}
.cabecalho a {
    color: #fff;
}
    /* LOGO */
    .logo {
        width: 70px;
        padding: 10px;
        height: 70px;
    }
    .logo-titulo {
        white-space: nowrap;
        position: relative;
        font-family: 'Harlow Solid Regular', sans-serif;
        font-weight: normal;
        font-size: 30px;
    }
    /* BUSCA */
    #modalBuscaCabecalho {
        width: 100%;
        margin: 0 5%;
    }
    .div-input-busca {
        max-width: 800px;
        display: flex;
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 10px 3px 10px;
    }
    .icon-input-busca {
        color: #888;
        padding-right: 5px;
        border-right: solid 1px #888;
    }
    .icon-input-busca i:hover {
        background: rgba(0,0,0,0.04);
        border-radius: 5px;
    }
    .input-busca {
        width: 100%;
        margin-left: 10px;
        border-bottom: none;
    }
    /* LOGIN */
    #iconeUsuarioLogin {
        margin-right: 10px;
    }
    #iconeUsuarioLogin:hover {
        background: rgba(0,0,0,0.04);
        border-radius: 5px;
    }
    #iconeFlechaLogin {
        margin-left: 5px;
    }
    #iconeFlechaLogin:hover {
        background: rgba(0,0,0,0.04);
        border-radius: 5px;
    }
    .modal-login {
        background-color: #fefefe;
        padding: 6px 20px;
        border: 1px solid #888;
        width: 300px;
        position: absolute;
        right: 0;
        margin: 60px 10px 0 0;
        color: #707070;
        border-radius: 12px;
    }
    .modal-login h1 {
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .modal-login p {
        font-size: 16px;
        margin: 4px 0 10px 0;
    }
    .modal-login input {
        margin-bottom: 15px;
        text-transform: lowercase;
        width: 100%;
    }
    .modal-login input[type="submit"] {
        cursor: pointer;
        text-transform: none;
    }
    .modal-login input:focus {
        border-bottom: 1px solid #26a69a;
        box-shadow: 0 1px 0 0 #26a69a;
    }
    .modal-login i {
        position: relative;
        top: 6px;
    }
    .modal-login a {
        color: rgb(35, 153, 226);
        margin-top: 5px;
    }
    .modal-login a:hover {
        text-decoration: underline;
    }
    .btnLogin {
        width: 100%;
        margin-top: 10px;
    }
    .dir {
        float: right;
    }
    /* CARRINHO */
    .carrinho {
        position: relative;
        height: 45px;
        text-align: center;
        padding: 12px 5px 0 5px;
        margin-left: 10px;
    }
    .carrinho:hover {
        background: rgba(0,0,0,0.04);
        border-radius: 5px;
    }
    .contador {
        text-align: center;
        position: absolute;
        bottom: 24px;
        left: 19px;
        background-color: #FF6F00;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        font-size: 14px;
    }

/* MENU */
.nav {
    width: 100%;
    height: 50px;
    background: #00796B;
    position: fixed;
    top: 75px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* CONTEÚDO */
.content {
    min-height: calc(100% - 150px);
    margin-top: 75px;
}

/* RODAPÉ */
.rodape {
    padding: 10px;
    width: 100%;
    height: 75px;
    flex-direction: column;
    background-color: #00857B;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 1;
}

/* MEDIA QUERY */
@media (max-width: 600px) {
    .logo-titulo {
        display: none;
    }
}
@media (max-width: 825px) {
    #bemVindo {
        display: none;
    }
}