/* PEDIDOS */
.divPedidos {
    height: 100%;
    padding: 20px 0;
}
.divMeusPedidos{
    width: 100%;
    text-align: center;
}
.divHome {
    width: 90%;
    margin: 0 auto;
}
.paginacao {
    display: none;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 800px;
}
#itensPagina {
    margin-right: 6px;
}
#btnVoltar {
    cursor: pointer;
}
#btnProx {
    cursor: pointer;
}
.nenhumPedido{
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

/* TABELA */
.tabela td:first-of-type, .tabela th:first-of-type {
    width: 100px;
}
/* MEDIA QUERIES */
@media (max-width: 600px) {
    table{
        display: block; 
        width: auto; 
        overflow-x: auto; 
        white-space: nowrap;
    }
}