body, html {
    height: 100%;
}
.content {
    min-height: calc(100% - 150px);
    margin-top: 75px;
    padding-top: 25px;
}
.btnVoltar{
    color: #00857B;
    font-size: 20px;
    font-weight: bold;
}
.divPedido {
    height: 100%;
}
.divPedido h1 {
    font-size: 16px;
}
.divPedido h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0;
    max-height: 27px;
    overflow: hidden;
}
.divPedido img {
    max-width: 100%;
    margin: 10px 0;
    height: 100px;
    width: 100px;
}
.divPedido .tabela tbody tr:hover {
    background: #fff;
    cursor: auto;
}
.divVoltar {
    width: 800px;
    margin: 0 auto;
    display: flex;
}
.divCancelamento{
    width: 800px;
    margin: 0 auto;
    display: block;
    padding: 15px 0 0 10px;
}
.infoNumeroStatus{
    width: 266px;
}
.infoNumeroStatus:first-child{
    text-align: left;
    align-self: center;
    padding-left: 10px;
}
.infoNumeroStatus:last-child{
    text-align: right;
}
.infoNumeroStatus:nth-child(2){
    text-align: center;
    align-self: center;
}
.tabela {
    width: 800px;
}
.tabela td, .tabela th{
    text-align: center;
}
.tabela td:first-of-type, .tabela th:first-of-type{
    width: 475px;
    text-align: left;
}
.tabela i {
    margin-top: 0;
}
#cancelarModal {
    display: none;
}
.notificacoes .tabela{
    width: 260px;
}
/* MODAL Cancelar */
.cancelar {
    max-width: 900px;
    top: 0;
    margin: 140px auto;
    z-index: 1;
    overflow: auto;
    background-color: #fff;
    padding: 30px 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    border-radius: 5px;
}

.btn-c{
    padding: 10px;
    border-radius: 5px;
    background: #00857B;
    margin: 20px 0px 0px 3px;
}
.btn-c:active {
    background-color: transparent;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 
    0 3px 14px rgba(0, 0, 0, 0.12), 
    0 4px 15px rgba(0, 0, 0, 0.20);
}
.btn-voltar{
    float: right;
    background: transparent;
    color: #00857b;
    font-weight: bold;
}
.cancelar input[type="text"] {
    margin: 5px 0 0px 0;
    width: 100%;
}
.cancelar select {
    border-bottom: solid 1px #707070;
    font-size: 18px;
    width: 100%;
    color: #707070;
}
.cancelar h1{
    text-align: center;
    margin-bottom: 20px;
}
.container-btn{
    display: block;
    width: 100%;
}
.espaco{
    margin-bottom: 15px;
}
.loop-cancelar{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    z-index: 4;
    display: none;
    align-items: center;
    justify-content: center;
}
.loader-cancelar {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loop{
    width: 100%;
    height: 100%;
    background-color: #707070;
    opacity: 0.7;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
}
.loader {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a597;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.infoItem {
    display:inline-block;
    position: absolute;
    bottom: 65px;
    margin-left: 10px;
}
@media (max-width: 768px) {
    .tabela, .divVoltar, .divCancelamento {
        width: 660px;
    }
}
@media (max-width: 670px) {
    .tabela {
        margin: 20px auto;
        display: block;
        width: 300px;
        overflow: auto;
    }
    .divPedido img {
        opacity: 0;
    }
    .divVoltar, .divCancelamento {
        width: 300px;
        display: block;
    }
    #infoPedido{
        display: block;
    }
    .infoNumeroStatus{
        text-align: center !important;
        width: 100%;
    }
}
@media (max-width: 475px) {
    .cancelar select{
        width: auto;
    }
    .cancelar{
        margin: 145px auto;
    }
}