/* CONTEÚDO */
.banner {
    width: 100%;
    background-image: radial-gradient(black, #1d1d1d);
}

/* LISTA PRODUTOS */
.secaoProdutos {
    width: 100%;
    margin: 30px 0;
    padding: 20px;
}
.listaProdutos {
    max-width: 975px;
    margin: 0 auto;
}
.item {
    display: inline-block;
    width: 200px;
    margin: 0 20px 40px 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.item h1 {
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item img {
    max-width: 100%;
    margin: 10px 0;
    height: 200px;
    width: 200px;
}
.item p {
    margin-bottom: 5px;
    font-weight: bold;
}
.indisp p {
    color: #888;
    font-weight: bold;
}
.indisp h1, .indisp h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}
.imgIndisp {
    position: relative;
}
.imgIndisp img {
    opacity: 0.7;
    height: 200px;
    width: 200px;
}
.imgIndisp p {
    color: red;
    position: absolute;
    bottom: 9px;
    background: rgba(255,255,255,0.6);
    width: 100%;
    text-align: center;
}
#itensPagina {
    margin-right: 6px;
}
.paginacao {
    margin: 0 5% 20px 0;
}

/* MODAL PRODUTO */
.modal-produto {
    width: 700px;
    background: #fff;
    margin: 110px auto;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    position: relative;
}
.modal-produto img {
    max-width: 100%;
    width: 230px;
    height: 230px;
    margin-right: 13px;
    border-radius: 5px;
    box-shadow: -8px 1px 12px rgba(0,0,0,0.1);
    padding: 5px;
}
.btnFechar {
    width: 24px;
    height: 24px;
    background: transparent;
    font-size: 35px;
    color: #888;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 20px;
}
.info-produto h2 {
    color: #888;
    font-size: 16px;
}
.info-produto .precoUnid {
    margin: 10px;
    font-size: 25px;
    color: rgb(0, 219, 113);
}
.info-produto .qtdeProd {
    font-size: 15px;
}
.info-produto .qtdeProd input {
    width: 55px;
    margin-left: 10px;
    text-align: center;
    padding: 0px;
    border: 1px solid silver;
    font-size: 16px;
    height: 20px;
}
.info-produto .aviso {
    font-size: 14px;
    margin-top: 4px;
}
.btnCarrinho {
    padding: 5px 10px;
    height: 30px;
    white-space: nowrap;
}
.min {
    display: none;
}
.precoTotal {
    margin: 0 9px;
    font-weight: bold;
}
.container-preco {
    margin-right: 20px;
    height: 50px;
    line-height: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}
.addCarrinho {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-top: 30px;
    height: 31px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    .min {
        display: initial;
    }
    .max {
        display: none;
    }
    .modal-produto {
        display: block;
        text-align: center;
        width: 315px;
    }
}