<div class="cadastro">
    <!-- FORMULÁRIO DE CADASTRO -->
    <form method="POST" class="form-cadastro" id="cadastro" onsubmit="return validacao()">
        <h1>Cadastro</h1>
        <!-- NOME -->
        <div>
            <div class="msgN"></div>
            <p>Nome*</p>
            <input type="text" class="input-padrao" name="nome" value="" id="nome" required maxlength="100" autocomplete="off" style="text-transform: uppercase;"
                autofocus><br><br>
        </div>
        <!-- E-MAIL -->
        <div class="msgEmail"></div>
        <div>
            <p>E-mail*</p>
            <input type="text" class="input-padrao" name="em" value="" id="email" required maxlength="100" autocomplete="off" style="text-transform: lowercase;"><br><br>
        </div>
        <!-- CONFIRMAR E-MAIL -->
        <div class="msgE msgConfEmail"></div>
        <div>
            <p>Confirmar E-mail*</p>
            <input type="text" class="input-padrao" name="cem" value="" id="confirmae" required maxlength="100" autocomplete="off" style="text-transform: lowercase;"><br><br>
        </div>
        <!-- TELEFONE -->
        <div class="msgD"></div>
        <div class="msgT"></div>
        <div class="celular">
            <div>
                <p>DDD*</p>
                <input type="text" class="input-padrao ddd" name="ddd" class="ddd" value="" id="ddd" required maxlength="3" autocomplete="off"><br><br>
            </div>
            <div>
                <p>Número*</p>
                <input type="tel" class="input-padrao tel" name="tel" value="" class="tel" id="numero" required maxlength="9" autocomplete="off"><br><br>
            </div> 
        </div>
        <!-- SENHA -->
        <div class="msgAviso"></div>
        <div>
            <p>Senha*</p>
            <input type="password" class="input-padrao" name="senha" value="" id="senha" required minlength="6" maxlength="20" autocomplete="off"><br><br>
        </div>
        <!-- CONFIRMAR SENHA -->
        <div class="msgS"></div>
        <div>
            <p>Confirmar senha*</p>
            <input type="password" class="input-padrao" name="cf-senha" value="" id="confirmas" required minlength="6" maxlength="20"
                autocomplete="off">
        </div>
        <div class="botoes-cadastro">
            <input class="btn btn-contained dir" type="submit" value="CADASTRAR" />
            <button class="btn btn-text dir" onclick="redirecionar()">CANCELAR</button>
        </div>
    </form>
</div>

<script src="src/js/jquery.mask.js"></script>
<script src="src/js/cadastro.js"></script>