<div class="divCarrinho">
    <div class="divRegistrarPedido alinha-final"><button onclick="index()" class="btn btn-outlined">Continuar comprando</button></div>
    <!-- TABELA DE PRODUTOS -->
    <table class="tabela">
        <thead>
            <tr>
                <th>PRODUTO</th>
                <th>QUANTIDADE</th>
                <th>PREÇO UN.</th>
                <th>PREÇO TOTAL</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="prodCarrinho">
        </tbody>
    </table>
    <!-- TABELA DE SERVIÇOS -->
    <table class="tabela">
        <thead>
            <tr>
                <th>SERVIÇO</th>
                <th>DATA</th>
                <th>QTD/HORAS</th>
                <th>PREÇO/HORA</th>
                <th>PREÇO TOTAL</th>
            </tr>
        </thead>
        <tbody id="servCarrinho">
        </tbody>
    </table>
    <!-- PREÇO TOTAL DO CARRINHO -->
    <table class="tabela">
        <td style="text-align: right" colspan="5" id="totalCarrinho">TOTAL: </td>
    </table>
</div>
<!-- REGISTRAR PEDIDO -->
<div class="divRegistrarPedido alinha-final">
    <button class="btn btnRegistrar btn-contained" onclick="confirmCarrinho()">REGISTRAR PEDIDO</button>
</div>


<script src="src/js/carrinho.js"></script>