<!-- PEDIDOS -->
<div class="divPedidos">
    <div class="divMeusPedidos">
        <h2>MEUS PEDIDOS</h2>
    </div>
    <div id="base"></div>
    <div class="loader" id="loading"></div>
    <!-- PAGINAÇÃO -->
    <div id="paginacao" class="paginacao">
        <p id="itensPagina"></p>
        <p id="totalPaginas"></p>
        <i class="material-icons" id="btnVoltar" onclick="prevPgTab()">keyboard_arrow_left</i>
        <i class="material-icons" id="btnProx" onclick="nextPgTab()">keyboard_arrow_right</i>
    </div>
</div>

<!-- SCRIPT -->
<script src="src/js/meuspedidos.js"></script>