<!-- PEDIDOS -->
<div class="loop-cancelar">
    <div class="loader-cancelar"></div>
</div>
<div id="cancelarModal" class="background-modal">
    <div class="cancelar">
        <h1>Cancelamento de pedido</h1>
        <p>Motivo do cancelamento*</p>
        <select id="selectMotivos" class="espaco">
        </select>
        <p>Descrição do cancelamento</p>
        <input class="input-padrao" type="text" id="descricao" autocomplete="off" maxlength="300" />
        <div class="container-btn">
            <button class="btn-c btn-voltar" onclick="" id="btnConfirmarCancelar">CONFIRMAR</button>
            <button class="btn-c btn-voltar" type="reset" id="voltarCancelar">CANCELAR</button>
        </div>
    </div>
</div>
<div class="divPedido divCarrinho">
    <div class="divVoltar">
        <button onclick="meusPedidos()" class="btn btn-text" style="margin-right:15px;">VOLTAR</button>
    </div>
    <div id="infoPedido" style="display: none;">
        <div class="divVoltar divRegistrarPedido">
            <div class="infoNumeroStatus">
                <h1>NÚMERO DO PEDIDO:
                    <span id="numeroPedido"></span></h1>
            </div>
            <div class="infoNumeroStatus">
                <h1>Status:<span id="status"></span></h1>
            </div>
            <div class="infoNumeroStatus">
                <span id="info"></span>
            </div>
        </div>
        <div class="divCancelamento" id="divMotivoCancelamento" style="display: none;">
            <div style="margin-bottom: 10px;">
                <span><b>Motivo do Cancelamento: </b></span>
                <span id="motivoCancelamento"></span>
            </div>
            <div>
                <span><b>Descrição do Cancelamento: </b></span>
                <span id="descricaoCancelamento"></span>
            </div>
        </div>
    </div>
    <div class="loader" id="loading" style="display: flex;"></div>
    <div id="baseTabelaProduto"></div>
    <div id="baseTabelaServico"></div>
    <div id="baseTabelaTotal"></div>

</div>

<!-- SCRIPT -->
<script src="src/js/pedido.js"></script>