<!-- BANNER -->
<section class="banner topo" id="banner"></section>
<section class="secaoProdutos">
    <!-- LISTA DE PRODUTOS -->
    <ul class="listaProdutos" id="listaProd">
    </ul>
    <!-- PAGINAÇÃO -->
    <div class="paginacao alinha-final">
        <p id="itensPagina"></p>
        <p id="totalPaginas"></p>
        <i class="material-icons" id="btnVoltar" onclick="prevPgTab()">keyboard_arrow_left</i>
        <i class="material-icons" id="btnProx" onclick="nextPgTab()">keyboard_arrow_right</i>
    </div>
</section>
<!-- MODAL PRODUTO -->
<div id="prodModal" class="background-modal">
</div>

<script src="src/js/produtos.js"></script>